a{
    text-decoration: none
}
li{
    list-style-type:none
}
.header{
    display:flex
}
body{
    background-image: url('../images/image.jpg');
    background-size: cover;
    font-family: Helvetica;
}

#logo{
    width: 250px;
    height: 100px;
}
.nav{
    float:right;
}
nav li ul a{
    font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	color: rgb (90,82,110);
}
.main {
    opacity:o.5;
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    font-size: 100px
}

form {
    margin: 20px auto;
    width: 300px;
    padding: 30px 25px;
    background: grey;
    border: 1px solid #c4c4c4;
  }
/*.login-form {
    margin: -28px -25px 25px;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 300;
    color: #ADADAD;
    text-align:center;
    background: #f7f7f7;
   
  }
*/
  
#vote-now{
    color:rgb(90, 82, 110);
    text-shadow: #343a40 2px 2px;
    min-width: 100%;
    min-height: 12em;
    position: relative;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: ivory;
    color: rgb(90,82,110);
    text-align: center;
  }